* {
    font-family:cursive;

}

header{
    background-color: hwb(13 64% 6%);
    padding: 50px 240px;

}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;


}
.banner-tittle{
    font-size: 4rem;
    font-weight: 800;
    color: rgb(46, 26, 26);
}
.text-light-gray{
    color:gray ;

}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: aqua;
    font-size: 1.30rem ;
    cursor: pointer;
    border: 0;


}


.nav-tittle{

    font-size: 6mm;
    font-weight: 900;
    color:#2f0e0e ;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center ;
}

nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 50px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a{
    text-decoration: none;
    color: #2f0e0e;
}

.banner img{
    margin-top: 20px;
    width: 100%;

}



/*  main styles */

main{
    max-width: 1440px
    margin:70px auto ;
}



/* teams container */

.teams-container{
    display: flex;
    align-items: center;
    padding-left: 220px;
    padding-right: 220px;
    padding: 50px 220px;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;


}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}



.teams-tittle{
    font-size: 3rem;
}

/* facts section */

.facts-card-container{
    display: flex;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
}

.facts-card-container .card{
    border-radius: 10px;
    border: 1px solid yellowgreen;
    text-align: center;
    padding: 30px 30px;
    

}

.facts-card-container .card-tittle{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;

}

.facts-card-container .card-stats{
    font-size: 3rem;
    color: #FF900E;
    margin-top: 10px;
    margin-bottom: 10px;
      

}




/* responsive media query */
/* mobile devices */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav
    {
        flex-direction: column;
    }
    .teams-container
    {
        flex-direction:column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
}


/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    
    
    nav{
       
        flex-direction: column;
        
    }
}